<a href="https://colab.research.google.com/github/yuki-tamaribuchi/dataprocessing_sample/blob/master/kaggle_taitanic_dp_impute.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!mkdir /root/.kaggle
!cp /content/drive/MyDrive/kaggle/kaggle.json /root/.kaggle

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [2]:
!kaggle competitions download -c titanic

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.10 / client 1.5.4)
gender_submission.csv: Skipping, found more recently modified local copy (use --force to force download)
test.csv: Skipping, found more recently modified local copy (use --force to force download)
train.csv: Skipping, found more recently modified local copy (use --force to force download)

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import missingno as msno

pd.options.display.max_columns=None

In [10]:
df=pd.read_csv('train.csv')
df=df.drop(['PassengerId','Name'],axis=1)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Ticket    891 non-null    object
 7   Fare      891 non-null    float64
 8   Cabin     204 non-null    object
 9   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(4)
memory usage: 69.7+ KB

In [13]:
from fancyimpute import KNN
from sklearn.preprocessing import OrdinalEncoder


encoder=OrdinalEncoder()
imputer=KNN()

cat_cols=['Survived','Pclass','Sex','Ticket','Cabin','Embarked']


def encode(data):

  nonnulls=np.array(data.dropna())

  impute_reshape=nonnulls.reshape(-1,1)

  impute_ordinal=encoder.fit_transform(impute_reshape)

  data.loc[data.notnull()]=np.squeeze(impute_ordinal)

  return data

for columns in cat_cols:
  encode(df[columns])

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [7]:
encode_data=pd.DataFrame(np.round(imputer.fit_transform(df)),columns=df.columns)

Imputing row 1/891 with 1 missing, elapsed time: 0.163
Imputing row 101/891 with 1 missing, elapsed time: 0.167
Imputing row 201/891 with 1 missing, elapsed time: 0.170
Imputing row 301/891 with 2 missing, elapsed time: 0.172
Imputing row 401/891 with 1 missing, elapsed time: 0.175
Imputing row 501/891 with 1 missing, elapsed time: 0.178
Imputing row 601/891 with 1 missing, elapsed time: 0.180
Imputing row 701/891 with 0 missing, elapsed time: 0.183
Imputing row 801/891 with 1 missing, elapsed time: 0.186

In [8]:
encode_data

     Survived  Pclass  Sex   Age  SibSp  Parch  Ticket  Fare  Cabin  Embarked
0         0.0     2.0  1.0  22.0    1.0    0.0   523.0   7.0   96.0       2.0
1         1.0     0.0  0.0  38.0    1.0    0.0   596.0  71.0   81.0       0.0
2         1.0     2.0  0.0  26.0    0.0    0.0   669.0   8.0  109.0       2.0
3         1.0     0.0  0.0  35.0    1.0    0.0    49.0  53.0   55.0       2.0
4         0.0     2.0  1.0  35.0    0.0    0.0   472.0   8.0  129.0       2.0
..        ...     ...  ...   ...    ...    ...     ...   ...    ...       ...
886       0.0     1.0  1.0  27.0    0.0    0.0   101.0  13.0  107.0       2.0
887       1.0     0.0  0.0  19.0    0.0    0.0    14.0  30.0   30.0       2.0
888       0.0     2.0  0.0  26.0    1.0    2.0   675.0  23.0   84.0       2.0
889       1.0     0.0  1.0  26.0    0.0    0.0     8.0  30.0   60.0       0.0
890       0.0     2.0  1.0  32.0    0.0    0.0   466.0   8.0  121.0       1.0

[891 rows x 10 columns]

In [9]:
encode_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    float64
 1   Pclass    891 non-null    float64
 2   Sex       891 non-null    float64
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    float64
 5   Parch     891 non-null    float64
 6   Ticket    891 non-null    float64
 7   Fare      891 non-null    float64
 8   Cabin     891 non-null    float64
 9   Embarked  891 non-null    float64
dtypes: float64(10)
memory usage: 69.7 KB